{ box-sizing: border-box;  border:}

:root {
  --main-accent-color:#FFC700;
  --dark-accent-color: #0011B2;
  --light-accent-color: #FFFFFF;
 }


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-accent-color);
    color: var(--dark-accent-color);
  }

h1 {
    padding: 0.3rem;
    margin: 0;
  }
  
h1:hover {
    background-color:var(--main-accent-color);
  }

h2 {
    font-size: 2rem;
  }
  
h3 {
    font-size: 2rem;
  }

p {
  margin: 0;
  font-size: 1rem;
}

.subText {
  font-size: 0.8rem;
}

.content {
  margin: 50px 25px;
}

/*
.scroll {
  &-top {
    right: 25px;
  }
}
*/

.nav {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  text-align: right;
  margin: 0;
}

.nav li {
  width: 200px;
  text-decoration: none;
}

.nav a {
  text-decoration: none;
  display: block;
  color: var(--light-accent-color);
  background-color: var(--main-accent-color);
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.5em 2em;
}

.nav a:hover {
  background: var(--dark-accent-color);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .nav {
    flex-flow: column wrap;
    padding: 0;
  }
  .nav a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .nav li:last-of-type a {
    border-bottom: none;
  }
}


.presentationSection {

}

.presentationHero {
  text-align: right;
}

.presentationFollow {
  text-align: right;
}

.presentationButton {
display: inline-block;
width: 40px;
height: 40px;
border-radius: 40px;
background-color: var(--main-accent-color);
text-align: center;
justify-content: center;
margin: 5px;
}

.presentationParagraph {
  display: flex;
  color: var(--light-accent-color);
  margin: -50px 0 0 0;
  padding: 3%;
  justify-content: space-between;
}

.presentationImage {
  width: 80%;
}

.presentationImageSrc {
  width: 70%;
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: -1;
}

.presentationText {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.presentationText1 {
  background-color: var(--dark-accent-color);
  padding: 25px;
}

.presentationText2 {
  background-color: var(--main-accent-color);
  padding: 25px;
}

.socials {
  padding: 0.3rem;
  margin: 0;
  color: var(--dark-accent-color);
}


blockquote {
    background-color: var(--main-accent-color);
    color: var(--light-accent-color);
    margin: 1% 0 0 1%;
    padding: 3.5%;
    width: 40%;
  }

  .projects {
    color: var(--main-accent-color);
    margin: 1% 0 0 1%;
    padding: 3%;
  }

  .projectContainer {
    display: flex;
    justify-content: space-around;
  }

  .projectCard {
    width: 250px;
    height: 400px;
    box-shadow: 10px 10px 20px;
    background-color: var(--dark-accent-color);
    border-radius: 40px;
  }

  .projectImage {
    margin-top: 25px;
    width: 250px;
    border-radius: 40px;
  }

  hr {
    margin: 10px 20px;
  }
  
  

  
