{ box-sizing: border-box;  border:}

:root {
  --main-accent-color:#FFC700;
  --dark-accent-color: #0011B2;
  --light-accent-color: #FFFFFF;
 }


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-accent-color);
    color: var(--dark-accent-color);
    display: flex;
  }

  .h1 {
    display: flex;
    flex-basis: 10%;
    margin: 10% 0 0 -2%;
    padding: 3%;
    width: 40%;
    justify-content: right;
    z-index: 10;
    border: 5px solid var(--dark-accent-color);
  }
  
  h1:hover {
    background-color:var(--main-accent-color);
  }
  
  h3 {
    font-size: 2rem;
  }

.content {
  margin: 50px 25px;
  h1 {
    margin-bottom: 25px;
  }
}

.scroll {
  &-top {
    right: 25px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  text-align: right;
  margin: 2rem;
}

.nav li {
  width: 200px;
  text-decoration: none;
}

.nav a {
  text-decoration: none;
  display: block;
  color: var(--light-accent-color);
  background-color: var(--main-accent-color);
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.5em 2em;
}

.nav a:hover {
  background: var(--dark-accent-color);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .nav {
    flex-flow: column wrap;
    padding: 0;
  }
  .nav a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .nav li:last-of-type a {
    border-bottom: none;
  }
}


.presentationParagraph {
  color: var(--light-accent-color);
  z-index: 0;
  margin: -20px;
  padding: 3%;
  display: flex;
}

.presentationImage {
  width: 80%;
}

.presentationImageSrc {
  width: 80%;
}

.presentationText {
  float: right;
  margin: 0 0 0 -500px; 
}

.presentationText1 {
  background-color: var(--dark-accent-color);
  padding: 25px;
}


blockquote {
    background-color: var(--main-accent-color);
    color: var(--light-accent-color);
    margin: 0;
    padding: 3.5%;
    width: 40%;
  }

  .projects {
    background-color: var(--main-accent-color);
    color: var(--light-accent-color);
    margin: 1% 0 0 10%;
    padding: 3%;
    width: 40%;
    flex-basis: 10%;
    float: right;
  }
  
  

  
